body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
}

header {
    background-color: #780459;
    color: #f1f4fb;
    padding: 10px;
    text-align: center;
}

.log{
    
    margin-left: 50%;

    
}
ul{
    float: right;
    display: flex;
    justify-content: center;
    align-items: center;
}

ul li{
    list-style: none;
    margin-left: 100px;
    margin-top: -60px;
    font-size: 16px;
    position: relative;
}

ul li a{
    text-decoration: none;
    color: #fff;
    font-family: Arial;
    font-weight: bold;
    transition: 0.4s ease-in-out;
}

ul li a:hover{
    color: #a257de;
}
ul li::after{
    content: '';
    height: 3px;
    width: 0;
    background: #a257de;
    position: absolute;
    left: 0;
    bottom: -10px;
    transition: 0.5s;


}
ul li:hover::after{
    width: 100%;
}


.container {
    max-width: 500px;

    margin: 20px auto;
    padding: 400px;
    background-color: #f5f5f5;
    border-radius: 20px;
}

.left{
    
    margin-left: 60%;
    margin-top:-300px;

}
.title{
    position: absolute;
    top: 50%;
    left: 35%;

    font-size: 3em;
    margin-block-start: 0.67em;
    margin-block-end: 0.6em;
    margin-inline-start: -350px;
    margin-inline-end: 700px;
    font-weight: bold;
}
.tex{
    font-family:cursive;
    position: absolute;
    top: 75%;
    left: 35%;

    font-size: 1em;
    margin-block-start: 0.67em;
    margin-block-end: 0.6em;
    margin-inline-start: -350px;
    margin-inline-end: 900px;
   
}
.tutorial-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-end;
}

.tutorial {
    width: 48%; /* Adjust the width as needed */
    margin-bottom: 20px;
    text-align: center; /* Center the tutorial content */
}

@media (max-width: 768px) {
    .tutorial {
        width: 100%; /* Change to full width on smaller screens */
    }
}

/* Tutorial section styles */
.tutorial-section {
    padding: 20px 0;
    background-color: #a60f7e;
}

.tutorial-section h2 {
    text-align: center;
    margin-bottom: 20px;
}

.tutorial-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
}

.tutorial {
    width: 48%;
    margin-bottom: 20px;
    text-align: center;
    padding: 10px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    background-color: #a257de;
}

.tutorial iframe {
    width: 100%;
    height: 200px;
    margin-bottom: 20px;
}

.tutorial-description {
    font-weight: bold;
    margin-bottom: 0px;
}

.description h3 {
    margin-top: 0;
}

.description p {
    margin-bottom: 0;
}

/* Footer styles */
footer {
    background-color: #333;
    color: #4012ab;
    padding: 20px 0;
    text-align: center;
}

.footer-content {
    margin-top: 20px;
}

.footer-content a {
    color: #fff;
    text-decoration: none;
}

.footer-content a:hover {
    text-decoration: underline;
}

  