
.signup-container {
    max-width: 400px;
    margin: 0 auto;
    padding: 20px;
    background-color: #be078d;
    border: 1px solid #ccc;
    border-radius: 5px;
  }
  
  h1 {
    text-align: center;
  }
  
  form {
    margin-top: 20px;
  }
  
  label, input {
    display: block;
    margin-bottom: 10px;
  }
  
  button {
    padding: 10px 20px;
  }
